<html>
    <center>
    <body>
        You entered:
        <pre style="background-color: lightgray; margin-left: 5em; margin-right: 5em; border: 1px solid rgb(255, 132, 0)">{{ name }}</pre>
        The age adjusted incidence rate:
        <pre style="background-color: lightgray; margin-left: 5em; margin-right: 5em; border: 1px solid rgb(255, 132, 0)">{{ analysis }}</pre>
        <form action="/" method="GET">
            <input type="submit" value="Menu">
        </form>
    </body>
    </center>
</html>