<html>
    <center>
    <body>
        <h1> STATE CANCER STATISTICS </h1>
        Please enter a US state: 
        <form action="/info" method="GET">
            <input type="text" name="state"></input>
            <br>
            <input type="submit" value="Analyze">
        </form>
        Or please select a state below:
        <form action="/info" method="GET">
            <select name="state" id="lang">
                <option value="US (SEER+NPCR)">US (SEER+NPCR)</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Iowa">Iowa</option>
                <option value="New Jersey">New Jersey</option>
                <option value="West Virginia">West Virginia</option>
                <option value="New York">New York</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Arkansas">Arkansas</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Maine">Maine</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Delaware">Delaware</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Ohio">Ohio</option>
                <option value="Connecticut">Connecticut</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="North Carolina">North Carolina</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Georgia">Georgia</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Montana">Montana</option>
                <option value="Illinois">Illinois</option>
                <option value="Florida">Florida</option>
                <option value="Kansas">Kansas</option>
                <option value="Vermont">Vermont</option>
                <option value="Indiana">Indiana</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Maryland">Maryland</option>
                <option value="Missouri">Missouri</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Alabama">Alabama</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Idaho">Idaho</option>
                <option value="Michigan">Michigan</option>
                <option value="South Carolina">South Carolina</option>
                <option value="Washington">Washington</option>
                <option value="Oregon">Oregon</option>
                <option value="Alaska">Alaska</option>
                <option value="District of Columbia">District of Columbia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Texas">Texas</option>
                <option value="Virginia">Virginia</option>
                <option value="Utah">Utah</option>
                <option value="Wyoming">Wyoming</option>
                <option value="California">California</option>
                <option value="Colorado">Colorado</option>
                <option value="Arizona">Arizona</option>
                <option value="New Mexico">New Mexico</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Nevada">Nevada</option>
            </select> <br>
            <input type="submit" value="Analyze">
        </form>
    </body>
    </center>
</html>